doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title WebRTC
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
    body 
        header 
            h1 뷰 셋업
        main
            h2 FE 셋업
            button 버튼
        script(src="/public/js/app.js") 